/*$font: 'courier', monospace;*/

body{
  width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
  background-color: black;
  /*text-align: center;*/
}

#clock {
   height: 100%;
   width: 100%;
   margin: auto;
   /*position: absolute;*/
   z-index:1;
   padding-top: 50vh;
   /*top: 0; left: 0; bottom: 0; right: 0;*/
   text-align: center;
   /*color: white;
  //gradient http://www.colorzilla.com/gradient-editor/*/
	background: linear-gradient(to right, #2dd9e2 0%, #e82ed8 48%, #f7f385 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  
  /*font: {
    size: 13vw;
    family: $font; } */
  font:  13vw courier, monospace;
}

canvas{
  position: absolute; 
  /*z-index: 1;*/
}